.container-fluid {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  background: #052d53;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
}

.splitView {
  display: flex;
}

.left {
  width: 50%;
}

.left img {
  display: grid;
  height: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  min-width: 100%;
  max-height: 100vh;
}

.right {
  width: 50%;
  float: right;
  margin-top: 50px;
}

.right .home-intro {
  display: block;
  text-align: left;
  margin: 50px 0 0 50px;
  font-size: 22px;
}

.right .home-header h1 {
  text-align: center;
  margin: 20px 0 0 20px;
  color: #fff;
  font-size: 5rem;
  font-weight: 800;
  line-height: 94px;
  letter-spacing: 0.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.right .home-text p {
  display: block;
  text-align: left;
  margin: 10px 10px 0 50px;
  word-wrap: break-word;
  font-size: 20px;
}

.social-media .fa {
  font-size: 70px;
  width: 1.5%;
  text-align: center !important;
  text-decoration: none;
  margin: 15% 6% 0 15%;
  display: inline-block !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-linkedin {
  color: white;
  border-radius: 10%;
}

.fa-instagram {
  color: white;
  border-radius: 10%;
}

.fa-github {
  color: white;
  border-radius: 10%;
}

.fa-envelope {
  color: white;
  border-radius: 10%;
}

.fa-linkedin:hover {
  opacity: 0.7;
  color: blue;
  transition: 0.3s ease;
}

.fa-linkedin:focus {
  outline: none;
  box-shadow: none;
}

.fa-instagram:hover {
  opacity: 0.7;
  color: red;
  transition: 0.3s ease;
}

.fa-instagram:focus {
  outline: none;
  box-shadow: none;
}

.fa-github:hover {
  opacity: 0.7;
  color: black;
  transition: 0.3s ease;
}

.fa-github:focus {
  outline: none;
  box-shadow: none;
}

.fa-envelope:hover {
  opacity: 0.7;
  color: blue;
  transition: 0.3s ease;
}

.fa-envelope:focus {
  outline: none;
  box-shadow: none;
}

.message {
  text-decoration: underline;
  transition: 0.3s ease;
}

.message:hover {
  color: rgb(28, 188, 241);
  opacity: 0.7;
}

.message:focus {
  outline: none;
  box-shadow: none;
}

.wrapper {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  height: calc(100% - 200px);
}
