nav {
  position: fixed;
  top: 0;
  height: 85px;
  text-align: center;
  background: linear-gradient(45deg, rgb(82, 81, 81), rgb(37, 37, 78));
}

nav .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 70%;
  margin: auto;
}

.items {
  display: inline-block;
  margin: 20px;
}

.items a {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.items a:hover {
  color: #ff2828;
  transition: 0.5s;
}

nav .navbar-brand {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  color: blue;
  margin: 10px;
}

nav .navbar-brand a {
  font-size: 25px;
  text-decoration: none;
  color: lightblue;
  /*   border-bottom: 4px solid inherit;
*/
}

nav .navbar-brand a:hover {
  /*  border-bottom: 4px solid #ff2828;
*/
  padding: 6px 0;
  transition: 0.01s ease;
  text-shadow: 1px 1px lightblue;
}

nav .navbar-brand a:focus {
  outline: none;
  box-shadow: none;
}

nav .navbar-brand span#grigoris {
  font-size: 35px;
  color: #fff;
  background: #5ec1ff;
  border-radius: 100px;
  padding: 0 10px;
}

.hamburgerBtn {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: 50px;
}

.hamburgerBtn:before,
.hamburgerBtn:after,
.hamburgerBtn div {
  background: #fff;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

.hamburgerBtn:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.hamburgerBtn:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.hamburgerBtn:hover div {
  transform: scale(0);
}

@media screen and (max-width: 940px) {
  .list {
    flex-direction: column;
    height: auto;
    width: 100% !important;
    background: linear-gradient(45deg, rgb(82, 81, 81), rgb(37, 37, 78));
  }

  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }

  .items {
    width: 60%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    padding: 20px 50px;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }

  .items:hover {
    color: #000;
    transition: 0.5s;
    border-top: 1px solid #ff2828;
  }

  .items a {
    font-size: 16px;
  }

  .hamburgerBtn {
    display: block;
  }
}
