#skills {
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin-top: 600px;
}

.skills-section {
  cursor: default;
  box-sizing: border-box;
}

.skills-section h2.section-title {
  width: 100%;
  font-weight: 200;
  font-size: 85px;
  color: #0582ca;
  text-align: center;
}

.skills-section p {
  padding: 0;
  margin-top: 2em;
  margin-left: 10px;
  font-size: 26px;
  text-align: center;
}

.skills-holder {
  margin-left: 10px;
}

.skill-holder > img {
  margin: auto;
  max-height: 60px;
  max-width: 80px;
}

.skill-holder > span {
  font-size: 22px;
  flex: 2;
  margin: auto;
}

.skills-section .split {
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.skills-section .left {
  margin-top: 5%;
  height: 70vh;
  float: left;
  margin-left: 40px;
  display: table-column;
}

.skills-section .right {
  margin-top: 5%;
  height: 70vh;
  margin-right: 30px;
  float: right;
}

.skills-section .right img {
  max-width: 800px;
  border-radius: 50px;
  object-fit: cover;
  float: right;
}

.skill-holder > img,
.skill-holder > span {
  margin: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 769px) {
  .skills-section {
    margin-top: 20px;
  }

  .skills-section #skills-desc {
    font-size: 40px;
  }

  .skills-section p {
    font-size: 20px;
    margin: 20px 10px;
  }

  .right img {
    display: none;
  }

  .skill-text {
    width: 100%;
  }

  .skills-holder {
    column-count: 1;
    top: 30%;
    left: 30%;
  }

  .skill-holder > img {
    max-height: 50px;
    max-width: 50px;
  }

  .skill-holder > span {
    font-size: 14px;
    flex: 2;
  }

  .skill-holder > img,
  .skill-holder > span {
    margin: 10px;
    margin-top: 10px;
  }

  #skills-desc {
    word-wrap: break-word;
    text-align: center;
    display: block;
  }
}
